{% extends "index.html" %}
{% block content %}
<form action="">
    title<input type="text" name="title">
    body<input type="textrea" name="body">
    category<input type="text" name="category">

</form>

{% endblock %}