<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <title>Document</title>
  <style>
    .loginbox {
      margin-top: 180px;
    }
  </style>
</head>

<body>
  <div class="container-fluid">
    <div class="row loginbox">
      <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">欢迎注册</h3>
          </div>
          <div class="panel-body">
            <form action="{% url 'users:Register' %}" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="form-group">
                <label for="{{ form.username.id_for_label }}">用户名 </label>
                <input type="text" name="username" class="form-control" id="exampleInputEmail1" placeholder="用户名">

                {% if form.errors.username  %}
                <div class="alert alert-danger" role="alert">
                  {{ form.errors.username.0 }}</div>
                {% endif %}
              </div>
              <div class="form-group">
                <label for="{{ form.password.id_for_label }}">密码 </label>
                <input type="password" name="password" class="form-control" id="exampleInputEmail1" placeholder="密码">

              </div>
              <div class="form-group">

                <label for="{{ form.mobile.id_for_label }}">手机号 </label>
                <input type="text" name="mobile" class="form-control" id="exampleInputEmail1" placeholder="手机">
                {%  if form.errors.mobile  %}
                <div class="alert alert-danger" role="alert">
                  {{ form.errors.mobile.0 }}
                </div>
                {% endif %}
              </div>

              <div class="form-group">
                <label for="{{ form.age.id_for_label }}">年龄 </label>
                <input type="text" name="age" class="form-control" id="exampleInputEmail1" placeholder="年龄">

              </div>
              <div class="form-group">
                  <label for="{{ form.avatar.id_for_label }}">头像 </label>
                  <input type="file" name="avatar" class="form-control" id="exampleInputEmail1" placeholder="头像">
  
                </div>
              <div class="form-group">
                {% for radio in form.gender %}
                <label class="radio-inline" for="{{ radio.id_for_label }}">
                  {{ radio }}
                </label>
                {% endfor %}
              </div>
              <button type="submit" class="btn btn-default">注册</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>