{% extends "index.html" %}
{% block content %}
<form action="{% url 'users:add_data' %}" method="POST" class="form-horizontal">
        {% csrf_token %}
        <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label" >title</label>
                

                <div class="col-sm-10">
                  <input type="text" class="form-control"  placeholder="text" name="title">
                </div>
              </div>
              <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label" >body</label>
                <div class="col-sm-10">
                        <textarea class="form-control" rows="3" name="content"></textarea>
                </div>
              </div>
             
              <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-fire">发布</span></button>
                  </div>

</form>
{% endblock %}