{% extends "index.html" %}
{% block content %}
<table class="table">
    <thead>

        <tr>
            <th>文章标题</th>
           
            <th>热度</th>
        </tr>
    </thead>
    <tbody>
        {% for item in post_list %}
        <tr class="active">
         
            <td><a href="{% url  'users:serverdetail'  item.id %}">{{ item.title }}</a><span
                    class="glyphicon glyphicon-hand-left"></span></td>
            <td class="active">{{ item.post_num }} <span class="glyphicon glyphicon-fire"></span> </td>
            {% endfor %}
        </tr>

    </tbody>
</table>

{% endblock %}