{% extends "index.html" %}
{% block content %}
<h1> <span class="glyphicon glyphicon-send"></span> <a href="{% url 'users:toadd' %}">添加文章</a></h1>
<article class="post post-{{ article.pk }}">
                    <header class="entry-header">
                        <h1 class="entry-title">{{ post_list.title }}</h1>
                        <div class="entry-meta">
                            <span class="post-category"><a href="#">Django 博客教程</a></span>
                            <span class="post-author"><a href="#">{{ article.author }}</a></span>
                            <span class="comments-link"><a href="#">{{ post_list.post_num }}</a></span>
                            <span class="views-count"><a href="#">{{ post_list.category.name }} 阅读</a></span>
                        </div>
                    </header>
                    <div class="entry-content clearfix">
                        {{ post_list.body  }}
                    </div>
                </article>
{% endblock %}